body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8rem;
}

/* ALGEMEEN */

#page {
    width: 70%;
    background-color: #fff;
}

.background {
    padding: 6rem;
    box-shadow: 0px 3px 6px rgb(156, 156, 156);
}

.headerpaddinghome {
    padding-top: 5.2rem;
}

.headerpaddingbewijs {
    padding-top: 4rem;
}

.marginbottom {
    margin-bottom: 12vh;
}

.margintop {
    margin-top: 12vh;
}

#hyperlink {
    color: blue;
}

/* HEADER */

.header {
    background-color: #282828;
}

.header a {
    color: white!important;
    text-decoration: none;
}

.logoheader {
    color: white!important;
    font-size: 2.4em;
    line-height: 1.5em;
}

/* FOOTER */

.footer p {
    font-size: 0.8em;
}

.footer h2 {
    font-size: 1.2em;
}

.footer i {
    font-size: 1.4em;
}

.footer span {
    font-size: 1.4em;
}

/* CONTENT HOME */

.homecontent {
    margin-top: 8vh;
}

.homecontent h1 {
    font-weight: 700;
    font-size: 2.2em;
}

.homecontent h2 {
    font-weight: 500;
    font-size: 1.2em;
}

.content {
    padding-bottom: 6vh;
}

/* TXT STYLING */

.txt h3 {
    font-weight: 600;
    font-size: 1.8em;
    text-transform: uppercase;
}

.txt h4 {
    font-weight: 600;
    font-size: 1.4em;
}

.txt a {
    /* text-decoration: underline!important;
    color: #000; */
    color: blue;
}

.bewijslast p {
    margin: 0 auto;
    padding: 0 auto;
}

/* RESPONSIVE MOBILE */

@media (max-width: 768px) {
    /* HEADER */
    .logoheader {
        margin: 1vh 0;
        line-height: 1.25em;
    }
    /* FOOTER */
    .footer {
        text-align: center;
    }
    .footer h2 {
        margin-bottom: 0.3vh;
    }
    .footermobile {
        margin-top: 4.4vh!important;
    }
    .content {
        padding-bottom: 0.2vh;
    }
    /* MOBILE MARGINS */
    .mt-5 {
        margin-top: 4vh!important;
    }
    .mb-5 {
        margin-bottom: 2.4vh!important;
    }
}

/* RESPONSIVE TABLET */

@media (max-width: 992px) and (min-width:767px) and (orientation: portrait) {
    /* HEADER */
    .content {
        padding-bottom: 0vh;
    }
    .logoheader {
        line-height: 1.1em;
    }
}