body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6vw;
}

/* BACKGROUND HOMEPAGE */

.homebackground {
    background-image: url(pictures/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* HEADER */

.header {
    background-color: #282828;
}

.header a {
    color: white!important;
    text-decoration: none;
}

.logoheader {
    color: white!important;
    font-size: 240%;
    line-height: 130%;
}

/* FOOTER */

.footer p {
    font-size: 70%;
}

.footer h2 {
    font-size: 110%;
}

.footer i {
    font-size: 140%;
}

.footer span {
    font-size: 140%;
}

/* CONTENT HOME */

.homecontent {
    margin-top: 8vh;
}

.homecontent h1 {
    font-weight: 700;
    font-size: 220%;
}

.homecontent h2 {
    font-weight: 500;
    font-size: 100%;
}

.down {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    color: white;
}

.bi {
    font-size: 140%;
}

.content {
    padding-bottom: 6vh;
}

/* TXT STYLING */
.txt h3 {
    font-weight: 500;
    font-size: 180%;
}

.txt a{
    text-decoration: underline!important;
}

/* RESPONSIVE MOBILE */

@media (max-width: 768px) {
    /* HEADER */
    .header a {
        font-size: 220%;
    }
    .logoheader {
        margin: 1vh 0;
    }
    /* FOOTER */
    .footer {
        text-align: center;
    }
    .footer p {
        font-size: 160%;
    }
    .footer h2 {
        font-size: 190%;
        margin-bottom: 0.3vh;
    }
    .footermobile {
        margin-top: 4.4vh!important;
    }
    .content {
        padding-bottom: 0.2vh;
    }
    /* CONTENT HOMEPAGE */
    .homecontent h1 {
        font-size: 440%;
    }
    .homecontent h2 {
        font-size: 240%;
    }
    .bi {
        font-size: 360%;
    }
    .txt h3 {
        font-size: 380%;
    }
    /* TXT STYLING */
    .txt p {
        font-size: 190%;
    }
    /* MOBILE MARGINS */
    .mt-5 {
        margin-top: 4vh!important;
    }
    .mb-5{
        margin-bottom: 2.4vh!important;
    }
}

/* RESPONSIVE TABLET */

@media (max-width: 992px) and (min-width:767px) and (orientation: portrait) {
    /* HEADER */
    .header a {
        font-size: 220%;
    }
    .content {
        padding-bottom: 0vh;
    }
    /* CONTENT HOMEPAGE */
    .homecontent h1 {
        font-size: 340%;
    }
    .homecontent h2 {
        font-size: 190%;
    }
    .bi-chevron-down {
        font-size: 240%;
    }
}