body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* BACKGROUND HOMEPAGE */

.homebackground {
    background-image: url(pictures/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* HEADER */

.header {
    background-color: #282828;
}

.header a {
    color: white!important;
    text-decoration: none;
}

.logoheader {
    color: white!important;
    font-size: 2.4em;
    line-height: 1.5em;
}

/* FOOTER */

.footer p {
    font-size: 0.8em;
}

.footer h2 {
    font-size: 1.2em;
}

.footer i {
    font-size: 1.4em;
}

.footer span {
    font-size: 1.4em;
}

/* CONTENT HOME */

.homecontent {
    margin-top: 8vh;
}

.homecontent h1 {
    font-weight: 700;
    font-size: 2.2em;
}

.homecontent h2 {
    font-weight: 500;
    font-size: 1.2em;
}

.down {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    color: white;
}

.bi {
    font-size: 1.4em;
}

.content {
    padding-bottom: 6vh;
}

/* TXT STYLING */

.txt h3 {
    font-weight: 500;
    font-size: 1.8em;
}

.txt a {
    text-decoration: underline!important;
    color: #000;
}

/* RESPONSIVE MOBILE */

@media (max-width: 768px) {
    /* BACKGROUND HOMEPAGE */
    .homebackground {
        background-image: url(pictures/background2.png);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    /* HEADER */
    .logoheader {
        margin: 1vh 0;
        line-height: 1.25em;
    }
    /* FOOTER */
    .footer {
        text-align: center;
    }
    .footer h2 {
        margin-bottom: 0.3vh;
    }
    .footermobile {
        margin-top: 4.4vh!important;
    }
    .content {
        padding-bottom: 0.2vh;
    }
    /* MOBILE MARGINS */
    .mt-5 {
        margin-top: 4vh!important;
    }
    .mb-5 {
        margin-bottom: 2.4vh!important;
    }
}

/* RESPONSIVE TABLET */

@media (max-width: 992px) and (min-width:767px) and (orientation: portrait) {
    /* HEADER */
    .content {
        padding-bottom: 0vh;
    }
    .logoheader {
        line-height: 1.1em;
    }
}